body{
    background-color: #081829;
}
h1{
    display: block;
    padding-top: 20px;
}

header{
    background-color: snow;
    color:#081829;
    width:100%;
    height: 190px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 1px;
    padding-left: 7px;
    border-bottom: orangered solid 3px ;
}
.name{
    display: flex;
    justify-content: space-between;
    width: 490px;
    margin-top: 70px;
}
img{
    width: 13px;
    height: 12px;
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    border-radius: 2px;
}
h5{
    color:#081829;
    
}
.gmail{
    display: flex;
    flex-direction: row;
    
}
.call{
    display: flex;
    flex-direction: row;
}
.direction{
    display: flex;
    flex-direction: row;
}
.github{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: #081829;
    margin-top: 19px;
    font-size: large;
}
.jihad{
    float: right;
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 110px;
}
section{
    display: flex;
    letter-spacing: 3px;
    justify-content: space-between;
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right{
    margin-right: 90px;
   
}
.left{
    margin-left: 10px;
}
ul{
    color: snow;
    width: 430px;
    display: flex;
    flex-direction: column;
}
li{
    margin-bottom: 13px;
}
h2{
    color: snow;
}
.skills{
    display: flex;
    width: 370px;
    border-left: orangered solid 2px;
}
.ull{
    list-style-type: none;
}
.backend{
    border-left: orangered solid 2px;
}
.languge{
    color:orangered;
    display: flex;
    width: 460px;
}
h3{
color:orangered;
}











